.hidden {
  display: none;
}

.visible {
  display: block;
}

.modal {
  position: relative;
  height: 600px;
  width: 400px;
  background: #f3f3f3;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.2);
}

.modal button {
  text-align: right;
  background: #5f85ff;
  margin-right: -294px;
}

.header-container {
  background: linear-gradient(
      rgba(215, 226, 232, 0.3),
      rgba(215, 226, 232, 0.3)
    ),
    url("../../public/assets/img/header-background.jpg");
  background-size: 100vw;
  background-position: center;
  height: 500px;
  text-align: center;
}

.header-container img {
  padding-top: 70px;
  height: 40px;
}

.header-container h2 {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Open Sans';
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  padding: 20px;
}

.header-container p {
  font-family: 'Open Sans';
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
}

input {
  width: 200px;
}

button {
  width: auto;
  height: 40px;
  background: #36a300;
  font-family: 'Open Sans';
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}

button, input {
  margin: 10px;
  padding: 10px 20px 10px 20px;
  border: 0px;
  outline: 0;
}

@media only screen and (max-width: 895px) {
  .header-container {
    background-size: 100vh;
  }
}

@media only screen and (max-width: 550px) {
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .header-container {
    background-size: 150vh;
    height: auto;
  }
}
